{% extends "base.twig" %}
{% block content %}
<div class="columns">
    <div class="column col-9 col-md-12 ">
        {% if imagePath %}
            <div class="eventimage" style="background-image: url('/{{ imagePath }}');"></div>
        {% endif %}
        <div class="header columns">
            <div class="col-1"></div>
            <div class="col-11">
                {% if event.start|isToday %}
                    <strong>heute</strong> <small>{{ event.start|dayName }}, {{ event.start|date('d.m.')}}</small>
                {% elseif event.start|isTomorrow %}
                    <strong>morgen</strong> <small>{{ event.start|dayName }}, {{ event.start|date('d.m.')}}</small>
                {% else %}
                    <strong>{{ event.start|dayName }} </strong> <small>{{ event.start|date('d.m.')}}</small>
                {% endif %}
                {% if event.link %}<small style="float:right"><a href="{{ event.link }}" target="_blank" class="btn btn-sm btn-link mt-1 tooltip" data-tooltip="Open Event externally">{{ domain }} <i class="fa fa-external-link"></i></a></small>{% endif %}
            </div>
        </div>
        <div class="columns entry">
            <div class="col-2 col-xs-4 col-md-3 times">
                <div>
                    <div class="times-content">
                        {{ event.start|time }}
                        {% if event.end %}
                            <small>-
                                {{ event.end|time }}
                                {% if event.end|day != event.start|day  %}
                                    {{event.end|dayName }}
                                {% endif %}
                            </small>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-10 col-xs-8 col-md-9 content">
                <h4 class="text-ellipsis mb-1">
                    {{ event.title }}
                </h4>
                <div class="location">
                    {% if event.locationName or event.address %}
                        <i class="fa fa-map-marker"></i>
                        {% if event.locationName and event.locationName != event.groups[0].name and event.locationName != event.address %}
                            {{ event.locationName }},
                        {% endif %}
                        <span>{{ event.address|tidyUpAddress }}</span>    
                    {% endif %}
                </div>
                <div class="seperator mt-1 mb-2"></div>
                {# <div class="" #}
                <div class="description">
                    {{ event.description|markdown|raw }}
                </div>
            </div>
        </div>

        {% if event.linkedDates.length %}
            <div class="header columns mt-1">
                <div class="col-2"></div>
                <div class="col-10">
                    Weitere Termine
                </div>
            </div>
            {% include "event-linked.twig" %}

        {% endif %}

        {% if event.groups.length %}
            <div class="header columns mt-1">
                <div class="col-2"></div>
                <div class="col-10">
                    Organisers
                </div>
            </div>

            {% for group in event.groups %}
                {% include "event-group.twig" %}
            {% endfor %}
        {% endif %}
        <div class="mb-1"></div>
    </div>
    <div class="column col-3 col-md-12">
        {% include "infobox.twig" %}
    </div>
</div>
{% endblock %}
