{% extends "base.twig" %}
{% block content %}
<div class="columns">
    <div class="column col-9 col-md-12">

        <div class="header columns mt-1">
            <div class="col-2"></div>
            <div class="col-10">
                <strong>Groups</strong>
            </div>
        </div>

        {% for group in groups %}
            <div class="columns entry">
                <div class="col-2 col-xs-4 col-md-3 content-side">
                    <div style="display:flex;justify-content: center">
                        <div style="background-image: url('/images/{{ group.imagePath }}')" class="quadratic mt-1"></div>
                    </div>
                </div>
                <div class="col-10 col-xs-8 col-md-9 content">
                    <a href="{{group.website}}"><strong>{{ group.name }}</strong></a><small><i class="fa fa-external-link ml-1"></i></small>
                    <div class="description mt-1">
                        {{ group.description }}
                    </div>
                    {% if not loop.last %} <div class="seperator"></div> {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="column col-3 col-md-12">
        {% include "infobox.twig" %}
    </div>
</div>
{% endblock %}
