{% extends "base.twig" %}
{% block content %}
<div class="columns">
    <div class="column col-9 col-md-12">
        <div class="header columns">
            <div class="col-1"></div>
            <div class="col-11">
                <strong>about trichter Reykjavik.</strong>
            </div>
        </div>
        <div class="content columns description" style="background-color:white">
            <div class="col-12 px-2 py-2 mx-2">
                <p>The following text in German is the description for the original Trichter in Leipzig, Germany. The content
                is to big part also true for this version but not all requirements are met for events here.</p>
                <!-- this is a comment. Remove it when the following is done: TODO: describe what the criterias for events is to appear on this calendar. -->
                <p>If you think events or groups are missing, send <a href="mailto:andrymi.org">an e-mail</a>.</p>
                <p>This page is in English. If you want to translate it, feel welcome
                to write us an <a href="mailto:andrymi@andrymi.org">an e-mail</a> so that we can make it happen together!</p>

                <p><b>Der <i>trichter</i> ist ein unkommerzieller Online-Veranstaltungskalender für Leipzig und Umgebung.</b> </p>
                <p>Ziel ist es, den Menschen <b>eine freie Platform der Vernetzung</b> in die Hand zu geben und damit die derzeit bestehende Abhängigkeit zu Facebook abzubauen. </p>
                <p>Es ist stark nach dem Vorbild <a href="https://tacker.fr/">tacker.fr</a> aus Freiburg entstanden, hat aber darüber hinaus keine Verbindung.</p>
                <p>Die <b>Inhalte werden</b> teilweise <b>maschinell</b> aus öffentlich zugänglichen Quellen zusammen gesammelt, wodurch sich Fehler ergeben können – gerade bei nachträglichen Änderungen/Absagen. Prüft also gern die Infomationen gegen, bevor du bei einer abgesagten Veranstaltung auftauchst! :)</p>

                <h5>Kriterien für Veranstaltungen</h5>
                <ul>
                    <li><b>tauschlogikfrei</b>, d.h. es sollte auch möglich sein die Veranstaltung "geldfrei" (genauergenommen: ohne Gegenleistung) zu besuchen. Eine Spendenempfehlung ist vollkommen okay.</li>
                    <li>frei von Sexismus, Rassismus, Antisemitismus, Heteronormativität und jeglicher anderer Form der Diskriminierung.</li>
                    <li>keine verschwörungsideologischen oder pseudowissenschaftlichen Themen.</li>
                    <li>ohne Drogenkonsum als primäres Ziel</li>
                </ul>
            </div>
        </div>

        <a name="contact"></a>
        <div class="header columns mt-1">
            <div class="col-1"></div>
            <div class="col-11">
                <strong>contact.</strong>
            </div>
        </div>
        <div class="content columns description" style="background-color:white">
            <div class="col-12 px-2 py-2 mx-2">
                <p>
                    Contact us for everything related to this page: <a href="mailto:andrymi@andrymi.org">andrymi@andrymi.org</a>
                    <br />
                </p>
            </div>
        </div>
    </div>
    <div class="column col-3 col-md-12">
        {% include "infobox.twig" %}
    </div>
</div>

{% endblock %}
